@import "../../assets/styles/variables";

.root {
  li {
    display: inline-block;

    a {
      text-align: center;
      width: 35px;
      line-height: 33px;
      height: 35px;
      border: 1px solid $orange-color;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;
      color: $orange-color;

      &:hover {
        background-color: $orange-color;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: $orange-color;
        color: #fff;
      }
    }
  }
}
