.film {
  &__container {
  }

  &__rating {
    margin-bottom: 100px;
  }

  &__comments {
    & h3 {
      font-size: 20px;
      margin-bottom: 20px;
    }
    margin-bottom: 20px;
  }
  &__add-comment {
  }
}
