@import "../../assets/styles/variables";

.content {
  width: 100%;
  display: flex;
  margin: 0 15px;

  &__column-1 {
    flex: 0 1 20%;
  }

  &__column-2 {
    flex: 0 1 80%;
    padding: 0 40px;
  }

  &__top {
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-bottom: 30px;

    @media (max-width: 1400px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 800px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__sort {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  & h1 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
