@import "../../assets/styles/variables";

.content {
  width: 100%;
  display: flex;
  margin: 0 15px;

  &__column-1 {
    flex: 0 1 20%;
  }

  &__column-2 {
    flex: 0 1 80%;
    padding: 0 40px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-bottom: 30px;

    @include for-size(desktop-up) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include for-size(tablet-landscape-up) {
      grid-template-columns: repeat(2, 1fr);
    }
    // @include for-size(tablet-portrait-up) {
    //   grid-template-columns: repeat(1, 1fr);
    // }
  }

  &__top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__sort {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  & h1 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

@media (max-width: 1000px) {
  .content {
    display: flex;
    flex-direction: column;

    &__column-1 {
    }

    &__column-2 {
    }

    &__top-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__sort {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    & h1 {
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
}
