@import "../../assets/styles/variables";

.header {
  margin: 10px 0 40px 0;

  &__container {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: white;
    text-transform: uppercase;
    font-size: 38px;
    letter-spacing: 1px;
    & span {
      color: $orange-color;
    }
  }

  &__search {
  }

  &__profile {
    width: 30px;
  }

  &__login {
    color: white;
    font-size: 17px;
    &:hover {
      text-decoration: underline;
    }
  }
}
