@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Plus+Jakarta+Sans:wght@500;700&family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Outfit:wght@500;700&display=swap");

$main-font-family: "Plus Jakarta Sans", sans-serif;
$font-family-open-sans: "Open Sans", sans-serif;

$main-background-color-black: rgb(32, 31, 31);
$main-background-color-white: rgb(255, 255, 255);
$main-background-color-orange: rgba(250, 154, 45, 0.781);
$main-background-color-grey: rgba(87, 87, 87, 0.315);

$orange-color: rgb(255, 145, 0);

$main-fc-color-white: white;
$main-fc-color-black: rgb(29, 29, 29);

$filter-grey-color: invert(51%) sepia(4%) saturate(0%) hue-rotate(338deg)
  brightness(97%) contrast(88%);

//breakpoints

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (max-width: 1300px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (max-width: 1800px) {
      @content;
    }
  }
}
