@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Plus+Jakarta+Sans:wght@500;700&family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Outfit:wght@500;700&display=swap");

$main-font-family: "Plus Jakarta Sans", sans-serif;
$font-family-open-sans: "Open Sans", sans-serif;

$main-background-color-black: rgb(32, 31, 31);
$main-background-color-white: rgb(255, 255, 255);

$orange-color: rgb(255, 145, 0);

$main-fc-color-white: white;
$main-fc-color-black: rgb(29, 29, 29);

$filter-grey-color: invert(51%) sepia(4%) saturate(0%) hue-rotate(338deg)
  brightness(97%) contrast(88%);
