@import "../../assets/styles/variables";

.sort {
  font-size: 17px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  & span {
    margin-left: 10px;
    color: $orange-color;
  }

  &__order {
    width: 25px;
  }

  &__popup {
    flex: none;

    z-index: 100;
    position: absolute;
    right: -20%;
    margin-top: 50%;
    ul {
      font-size: 17px;
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.904);
      box-shadow: 0px 5px 15px rgb(0, 0, 0);
    }
    & li {
      padding: 10px 20px;
      border-radius: 10px;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    & .active {
      background-color: $orange-color;
      color: white;
    }
  }
}
